
body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
    color: white;
    z-index: 1;
    
    
}

.logo {
    font-size: 1.5em;
    padding: .4em;
    float: left;
    margin: 0;
}

.navbar ul {
    text-align: right;
    list-style-type: none;
    display: flex;
    text-decoration: none;
    padding: 1.2em ;
    float: right;
    margin: 0 auto;
}  

.navbar a {
    text-decoration: none;
    color: white;
    padding: 1em;
    
}
.navbar a:hover {
    background-color: gray;
    transition: .5s;
}

.header {
    background-image: url(header.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}
.title {
    font-size: 5em;
    color: white;
    padding-top: 2em;
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px 2px 2px rgba(2,1,1,0);
}

header p {
    font-size: 1.5em;
    color: white;
    padding: 1em;
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px 2px 2px rgba(2,1,1,0);
}

.button {
    text-decoration: none;
    border: 2px solid white ;
    background-color: black;
    padding: .8em;
    color: white;
    font-size: 1.3em;
}

.map-text {
    text-align: left;
    margin: .5em;
}

iframe {
    width: 100vw;
    height: 300px;
}

footer {
    background-color: black;
    color: white;
    padding: 1em;
    margin: 0 auto;
    width: 100vw;

}

footer a {
    color: orange;

}

.top-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}
.bottom-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
}


@media screen and (max-width: 767px) {

    
       
    }
    .navbar ul {
        font-size: .9em;
    }
    .top-container,
    .bottom-container,
    .team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        margin-top: 1em;
        max-width: 90vw;
    }
    .logo {
        display: none;
        
    }
    .navbar ul {
        font-size: 1em;

    }
    footer {
        padding: 1em 0;
    }


}

